.btn
{
    color: white;
background-color: black;
width: 15rem;
height: 1.8rem;
border-radius: 19px;
font-size: 1rem;

}

.btn:hover
{
    cursor: pointer;
    color: blue;
}

.child
{
    /* position: relative; */
    margin: 0 auto;
}