
 
<div class="dialog-wrapper" style="background-color: blanchedalmond;">
    <div style="text-align: center; margin-top: 5rem; margin-bottom: 5.95rem;">
      <img src="../../assets/fourth-page/greenTick.png" alt="Green Tick" height="60" width="60">
      <h2 style="text-align: center;">Success!</h2>
      <p style="margin-top: 1rem;">New Family Member added successfully!</p>
      <button class="btn" (click)="closeDialog()" style="margin-top: 1rem;font-weight: bold;
      width: 5rem;
      height: 2rem;
      background-color: white;
      border-radius: 0.5rem;
      border: white;">OK</button>

    </div>
  </div>

  